/* <= 960px */
@media (max-width: 60em) {
  html {
    font-size: 55%;
  }
}

/* <= 896px  */
@media (max-width: 56em) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
}

/* <= 768px  */
@media (max-width: 48em) {
  html {
    font-size: 45%;
  }

  .nav-items {
    display: none;
  }

  .burger {
    display: inline-block;
    cursor: pointer;
  }

  .bio {
    flex-direction: column;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .bio-txt-box {
    align-items: center;
  }
}

/* <= 480px  */
@media (max-width: 30em) {
  html {
    font-size: 35%;
  }

  .email {
    font-size: 4rem;
  }
}
