* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(29, 89, 89);
  height: 250px;
  margin: 100px auto;
  padding: 40px;
}

.txt {
  visibility: hidden;
  display: inline-block;
  font-size: 56px;
}

.letter-1 {
  animation: fade-in 0.4s ease-in-out 0.2s;
  animation-fill-mode: forwards;
}
.letter-2 {
  animation: fade-in 0.4s ease-in-out 0.7s;
  animation-fill-mode: forwards;
}
.letter-3 {
  animation: fade-in 0.4s ease-in-out 0.9s;
  animation-fill-mode: forwards;
}
.letter-4 {
  animation: fade-in 0.4s ease-in-out 1.1s;
  animation-fill-mode: forwards;
}
.letter-5 {
  animation: fade-in 0.4s ease-in-out 1.3s;
  animation-fill-mode: forwards;
}
.letter-6 {
  animation: fade-in 0.4s ease-in-out 1.5s;
  animation-fill-mode: forwards;
}
.letter-7 {
  animation: fade-in 0.4s ease-in-out 1.7s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    visibility: visible;
    font-size: 5px;
    color: rgb(45, 168, 53);
  }

  25% {
  }
  50% {
  }
  75% {
  }
  100% {
    visibility: visible;
    font-size: 76px;
    color: orangered;
    background-color: #c2b9b9;
    border-radius: 8px;
  }
}
