/* COMMON CSS */

/* GENERAL CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #e1d4c9;
}

/* MAIN CSS */
.centered {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  padding: 2rem 4rem 4rem;
}

/* ANCHOR LINKS SETTINGS */
a:link {
  text-decoration: none;
  color: #403f3d;
}
a:hover {
  text-decoration: none;
  color: #403f3d;
}
a:visited {
  text-decoration: none;
  color: #403f3d;
}
a:active {
  text-decoration: none;
  color: #403f3d;
}

/* Typography for Desktop */
.heading-1-font-mob {
  font-size: 4.2rem;
  line-height: 115%;
}
.heading-2-font-mob {
  font-size: 3.2rem;
}
.heading-1-font {
  font-size: 7.2rem;
  line-height: 105%;
}
.heading-2-font {
  font-size: 6rem;
  line-height: 125%;
}
.heading-3-font {
  font-size: 2.4rem;
  line-height: 125%;
}

.medium-font {
  font-size: 1.6rem;
  line-height: 150%;
}
.caption-font {
  font-size: 1rem;
  line-height: 140%;
}

.link-font {
  font-size: 1.6rem;
  line-height: 150%;
}
.btn-font {
  font-size: 1.6rem;
  line-height: 150%;
}

.accent {
  font-style: italic;
  color: #b0907a;
}
.weight-600 {
  font-weight: 600;
}
.weight-400 {
  font-weight: 400;
}

/* Colors */
.dark-txt {
  color: #403f3d;
}
.light-txt {
  color: #e1d4c9;
}
.light-background {
  background-color: #e1d4c9;
}
.medium-background {
  background-color: #665f55;
}
.dark-background {
  background-color: rgba(64, 63, 61, 0.8);
}
.light-border {
  background-color: #c1b6ad;
}
.dark-border {
  background-color: #665f55;
}

/* DISPLAY POSITIONS */

.flex-row {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: start;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-100 {
  gap: 10rem;
}
.gap-40 {
  gap: 4rem;
}
.gap-20 {
  gap: 2rem;
}
.gap-16 {
  gap: 1.6rem;
}
.gap-12 {
  gap: 1.2rem;
}
.gap-8 {
  gap: 0.8rem;
}
.txt-align-left {
  text-align: left;
}
.txt-align-center {
  text-align: center;
}
.pd-100 {
  padding: 10rem;
}
.pd-20 {
  padding: 2rem;
}
.ml-100 {
  margin-left: 10rem;
}
.mb-auto {
  margin-bottom: auto;
}
.mb-12 {
  margin-bottom: 1.2rem;
}
.mb-20 {
  margin-bottom: 2rem;
}
.mb-100 {
  margin-bottom: 10rem;
}
.w-full {
  width: 100%;
}
.overflow-hidden {
  overflow: hidden;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}

/* HEADER */
.logo {
  width: 100px;
  height: 60px;
}

.coffee-icon {
  width: 20px;
  height: 20px;
  align-self: flex-start;
}

.burger-menu {
  display: none;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid var(--Border-Dark, #665f55);
}

li {
  list-style: none;
}

li a:link {
  text-decoration: none;
}
li a:hover {
  text-decoration: none;
}
li a:visited {
  text-decoration: none;
}
li a:active {
  text-decoration: none;
}

/* Navigation Animations */
.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;

  bottom: -5px;
  left: 0;
  right: 50%;
  background-color: #403f3d;
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-out;
}

@media (hover: hover) {
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: 50% 50%;
  }
}

/* FOOTER ANIMATION */
.hover-underline-animation-footer {
  display: inline-block;
  position: relative;
}

.hover-underline-animation-footer::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;

  bottom: -5px;
  left: 0;
  right: 50%;
  width: 18rem;
  background-color: #e1d4c9;
  transform-origin: 50% 50%;
  transition: transform 0.5s ease-out;
}

@media (hover: hover) {
  .hover-underline-animation-footer:hover::after {
    transform: scaleX(1);
    transform-origin: 50% 50%;
  }
}

/* FOOTER */
.footer {
  border-radius: 4rem;
  max-width: 136rem;
  width: 100%;
  justify-content: flex-start;
}

.footer-offer {
  width: 53rem;
}

.social-icon-box {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #c1b6ad);

  transition: 0.8s;
}

@media (hover: hover) {
  .social-icon-box:hover {
    background: #e1d4c9;
  }
  .social-icon-box:hover svg > path {
    stroke: #403f3d;
  }
}

.contact-item {
  display: flex;
  gap: 8px;
}
